<!-- Page Header -->
<header class="page-header page-header-mini">
    <h1 class="title">BLOG HEADS</h1>
</header>
<!-- End Of Page Header -->

<div class="container">
    <section>
        <div class="feature-posts">
            <div class="feature-post-item">                       
                <span>Featured Posts</span>
            </div>
            <% featuredBlogs.forEach(blog=>{%>
                <a href=<%= `/${blog.id}`%> class="feature-post-item">
                    <img src= <%= `assets/imgs/${blog.image}` %>  class="w-100" alt="">
                    <div class="feature-post-caption"><%= blog.title%></div>
                </a>
            <% }) %>    
        </div>
    </section>
    <hr>
    <div class="page-container">
        <div class="page-content">
            <div class="card">
                <div class="card-header text-center">
                    <h5 class="card-title">Chat GPT</h5> 
                    <small class="small text-muted">January 23 2023
                        <span class="px-2">-</span>
                        <a href="#" class="text-muted">32 Comments</a>
                    </small>
                </div>
                <div class="card-body">
                    <div class="blog-media">
                        <img src="assets/imgs/openAI.png" alt="" class="w-100">
                        <a href="#" class="badge badge-primary">#Open-AI</a>     
                    </div>  
                    <p class="my-3">ChatGPT is a language model developed by OpenAI that can generate human-like text.
                         It is trained on a large dataset of conversational text and can generate responses to prompts given to it.
                          It can be used for tasks such as chatbot development, language translation, and text completion. 
                          It is based on the GPT (Generative Pre-trained Transformer) 
                          architecture and is considered to be one of the most advanced language models currently available.</p>
                </div>
                
                <div class="card-footer d-flex justify-content-between align-items-center flex-basis-0">
                    <button class="btn btn-primary circle-35 mr-4"><i class="ti-back-right"></i></button>
                    <a href= "" class="btn btn-outline-dark btn-sm">READ MORE</a>
                    <a href="#" class="text-dark small text-muted">By : Prajjawal Tiwari</a>
                </div>                  
            </div>
            <hr>
            <div class="row">
                <% blogs.forEach(blog=>{ %>                       
                <div class="col-lg-6">
                    <div class="card text-center mb-5">
                        <div class="card-header p-0">                                   
                            <div class="blog-media">
                                <img src= <%= `assets/imgs/${blog.image}` %> alt="" class="w-100">
                                <a href="#" class="badge badge-primary">#<%= blog.tag%></a>        
                            </div>  
                        </div>
                        <div class="card-body px-0">
                            <h5 class="card-title mb-2"><%= blog.title %></h5>    
                            <small class="small text-muted">January 23 2023 
                                <span class="px-2">-</span>
                                <a href="#" class="text-muted">34 Comments</a>
                            </small>
                            <p class="my-2"><%= blog.desc%></p>
                        </div>
                        
                        <div class="card-footer p-0 text-center">
                            <a href=<%= `/${blog.id}`%> class="btn btn-outline-dark btn-sm">READ MORE</a>
                        </div>                  
                    </div>
                </div>
                <% }) %>
            </div>
            <button class="btn btn-primary btn-block my-4">Load More Posts</button>
        </div>

        <!-- Sidebar -->
        <div class="page-sidebar text-center">
            <h6 class="sidebar-title section-title mb-4 mt-3">About</h6>
            <!-- <img src="assets/imgs/avatar.jpg" alt="" class="circle-100 mb-3"> -->
            <div class="socials mb-3 mt-2">
                <a href="javascript:void(0)"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)"><i class="ti-twitter"></i></a>
                <a href="javascript:void(0)"><i class="ti-pinterest-alt"></i></a>
                <a href="javascript:void(0)"><i class="ti-instagram"></i></a>
                <a href="javascript:void(0)"><i class="ti-youtube"></i></a>
            </div>
            <p>Welcome to our blog! Here, we provide the latest news, reviews, 
                and analysis on all things technology. We focus on emerging technologies 
                like virtual reality and artificial intelligence. Our team of expert writers 
                and editors stay on top of the latest industry developments to bring you in-depth 
                coverage and analysis of the most important stories in tech. 
                We hope you enjoy our content!</p>
            

            <h6 class="sidebar-title mt-5 mb-4">Newsletter</h6>
            <form action="">
                <div class="subscribe-wrapper">
                    <input type="email" class="form-control" placeholder="Email Address">
                    <button type="submit" class="btn btn-primary"><i class="ti-location-arrow"></i></button>
                </div>
            </form>

            <h6 class="sidebar-title mt-5 mb-4">Tags</h6>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#open-AI</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#back-end</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#front-end</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#AI/ML</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#tech</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#developer</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#computer science</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#3D</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#maths</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#self-growth</a>

            <h6 class="sidebar-title mt-5 mb-4">Instagram</h6>
            <div class="row px-3">
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="assets/imgs/insta-1.jpg" alt="">
                    </a>
                </div>
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="assets/imgs/insta-2.jpg" alt="" class="w-100 m-0">
                    </a>
                </div>  
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="assets/imgs/insta-3.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="assets/imgs/insta-4.jpg" alt="" class="w-100 m-0">
                    </a>
                </div>  
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="assets/imgs/insta-5.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-4 p-1 figure">
                    <a href="#" class="figure-img">
                        <img src="assets/imgs/insta-6.jpg" alt="" class="w-100 m-0">
                    </a>
                </div>                          
            </div>  

            <figure class="figure mt-5">
                <a href="/singlePost" class="figure-img">
                    <img src="assets/imgs/golang.png" alt="" class="w-100">
                    <figcaption class="figcaption">Go</figcaption>
                </a>
            </figure>

            <h6 class="sidebar-title mt-5 mb-4">Popular Posts</h6>
            <div class="card mb-4">
                <a href="/singlePost" class="overlay-link"></a>
                <div class="card-header p-0">                                   
                    <div class="blog-media">
                        <img src="assets/imgs/openAI.png" alt="" class="w-100">
                        <a href="#" class="badge badge-primary">#open-AI</a>      
                    </div>  
                </div>
                <div class="card-body px-0">
                    <h5 class="card-title mb-2">ChatGPT</h5>   
                    <small class="small text-muted"><i class="ti-calendar pr-1"></i> January 24 2023
                    </small>
                    <p class="my-2">ChatGPT is a language model developed by OpenAI that can generate human-like text...</p>
                </div>      
            </div>

            <div class="media text-left mb-4">
                <a href="/singlePost" class="overlay-link"></a>
                <img class="mr-3" src="assets/imgs/nodejs.png" width="100px" alt="Generic placeholder image">
                <div class="media-body">
                    <h6 class="mt-0">NodeJS</h6>
                    <p class="mb-2"> Node.js is an open...</p>
                    <p class="text-muted small"><i class="ti-calendar pr-1"></i>  January 02 2023</p>
                </div>
            </div>
            <div class="media text-left mb-4">
                <a href="/singlePost" class="overlay-link"></a>
                <img class="mr-3" src="assets/imgs/reactjs.png" width="100px" alt="Generic placeholder image">
                <div class="media-body">
                    <h6 class="mt-0">ReactJS</6>
                    <p class="mb-2"> React.js is a JavaScript...</p>                            
                    <p class="text-muted small"><i class="ti-calendar pr-1"></i>  January 10 2023</p>
                </div>
            </div>
            <div class="media text-left mb-4">
                <a href="/singlePost" class="overlay-link"></a>
                <img class="mr-3" src="assets/imgs/nextjs.png" width="100px" alt="Generic placeholder image">
                <div class="media-body">
                    <h6 class="mt-0">NextJS</h6>
                    <p class="mb-2"> Next.js is a JavaScript...</p>                        
                    <p class="text-muted small"><i class="ti-calendar pr-1"></i>  January 04 2023</p>
                </div>
            </div>  
            <div class="ad-card d-flex text-center align-items-center justify-content-center">
                <span href="#" class="font-weight-bold">ADS</span>
            </div>
        </div>
    </div>
    <div class="ad-card d-flex text-center align-items-center justify-content-center">
        <span href="#" class="font-weight-bold">ADS</span>
    </div>
</div>
